<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments :: head"/>

    <body>

        <nav th:replace="fragments :: nav"/>

        <div class="container-fluid p-0">

            <ul class="list-group m-4">

                <!-- iteration -->
                <li th:each="content : ${entry.getAllContent}" class="list-group-item p-0">

                    <!-- user -->
                    <div class="form-floating m-3">

                        <input th:value="${content.user.username}" type="text" class="form-control" id="user" placeholder="user" disabled readonly>
                        <label for="user">user</label>

                    </div>
                    <!-- / -->

                    <!-- title -->
                    <div class="form-floating m-3">

                        <input th:value="${content.title}" type="text" class="form-control" id="title" placeholder="title" disabled readonly>
                        <label for="title">title</label>

                    </div>
                    <!-- / -->

                    <!-- latitude -->
                    <div class="form-floating m-3">

                        <input th:value="${content.coordinates.latitude}" type="number" step=any class="form-control" id="latitude" placeholder="latitude" disabled readonly>
                        <label for="latitude">latitude</label>

                    </div>
                    <!-- / -->

                    <!-- longitude -->
                    <div class="form-floating m-3">

                        <input th:value="${content.coordinates.longitude}" type="number" step=any class="form-control" id="longitude" placeholder="longitude" disabled readonly>
                        <label for="longitude">longitude</label>

                    </div>
                    <!-- / -->

                    <!-- text -->
                    <div class="form-floating m-3">

                        <textarea th:text="${content.text}" class="form-control" placeholder="text" id="text" style="height: 250px" disabled readonly></textarea>
                        <label for="text">text</label>

                    </div>
                    <!-- / -->

                    <!-- feedback -->
                    <div class="form-floating m-3">

                        <input th:value="${content.computeFeedback}" type="number" step=any class="form-control" id="feedback" placeholder="feedback" disabled readonly>
                        <label for="feedback">feedback</label>

                    </div>
                    <!-- / -->

                    <!-- improve -->
                    <a th:href="${'/improve/' + entry.entryId + '/' + content.contentId}" class="btn btn-outline-primary m-3 mt-0">improve</a>
                    <!-- / -->

                    <!-- up / down -->
                    <a th:href="${'/upvote/' + entry.entryId + '/' + content.contentId}" class="btn btn-outline-success m-3 mt-0 ms-0">upvote</a>

                    <a th:href="${'/downvote/' + entry.entryId + '/' + content.contentId}" class="btn btn-outline-danger m-3 mt-0 ms-0">downvote</a>
                    <!-- / -->

                </li>
                <!-- / -->

            </ul>

        </div>

    </body>

</html>