<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments :: head"/>

    <body>

        <nav th:replace="fragments :: nav"/>

        <div class="container-fluid">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 m-0 mb-4"
                 data-masonry='{"percentPosition": true}'>

                <!-- / -->
                <div th:each="entry : ${entries}" class="col">

                    <div class="card">

                        <div class="card-body">

                            <h4 th:text="${entry.content.title}" class="card-title"></h4>

                            <p th:text="${entry.content.text}" class="card-text"></p>

                            <a th:href="${'https://www.google.com/maps/place/' + entry.content.coordinates.latitude + ',' + entry.content.coordinates.longitude}"
                               th:text="${' ' + entry.content.coordinates.latitude + ', ' + entry.content.coordinates.longitude}"
                               class="btn btn-outline-primary bi-geo-alt-fill"></a>

                        </div>

                        <div class="card-footer text-center">

                            <a href="#" class="link-secondary">history</a>

                        </div>

                    </div>

                </div>
                <!-- / -->

            </div>

        </div>

        <!-- masonry -->
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
        <!-- / -->

    </body>

</html>