<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments :: head"/>

    <body>

        <nav th:replace="fragments :: nav"/>

        <div class="container">

            <div class="row row-cols-1 row-cols-md-3 g-4" data-masonry='{"percentPosition": true }'>

                <!-- / -->
                <div class="col-sm-6">

                    <div class="card h-100 m-4">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
                <!-- / -->

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    </body>

</html>