<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"/>

<body>

<div class="container">

    <div class="row">

        <div class="col">

            <div class="card m-4">

                <div class="card-header">

                    <a class="navbar-brand link-dark" href="/">CommunityWiki</a>

                </div>

                <div class="card-body">

                    <h5 class="card-title" th:text="${feedback}">join the community</h5>

                    <form th:action="@{/register}" method="post">

                        <div class="form-floating mb-3">

                            <input type="text" class="form-control" id="username" name="username" placeholder="x" required>
                            <label for="username">username</label>

                        </div>

                        <div class="form-floating mb-3">

                            <input type="password" class="form-control" id="password" name="password" placeholder="x" required>
                            <label for="password">password</label>

                        </div>

                        <button type="submit" class="btn btn-primary">register</button>
                        <span>or</span>
                        <a href="/login" class="link-secondary">log in</a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>